@import 'variables.scss';

.storeHeader {
  text-align: center;
  padding-top: 5px;
}

.nav-section {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.nav-button {
  display: inline;
  background-color: $base-color;
  border-radius: 4px;
  margin: 4px 4px 4px 4px;

  &:hover {
    background-color: $dark-pink;

    a {
      color: white;
    }
  }

  a {
    color: black;
  }
}

input[name='searchInput'] {
  @media (max-width: 400px) {
    height: 25px;
    width: 100%;
  }
}

#search-bar {
  @media (max-width: 400px) {
    width: 100%;
  }
}

.search-btn {
  height: 31px;
  margin: 13px 0px;

  &:hover {
    color: $dark-pink;
    background-color: $dark-gray;
  }
}
